@model AccountModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hesap Ayarları</title>
    <link rel="stylesheet" href="/css/main-css/header.css"/>
    <link rel="stylesheet" href="/css/boxicons-2.1.4/css/boxicons.min.css"/>
    <link rel="stylesheet" href="/css/account.css">
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/css/main-css/styles.css"/>
    <link rel="stylesheet" href="/css/main-css/burada.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main-css/icon.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/main-css/bootstrap@4.5.0.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
</head>

<body>
        <header class="header">
      <div style="display: flex;"> @* Şimdilik usta pgae anasayfasına gönderdik type göre değişecek*@
        <a asp-controller="MusteriPage" asp-action="musteriPage"><img class="logo-img" src="/assets/logo.png"></a>
        <a asp-controller="MusteriPage" asp-action="musteriPage" asp-route-id="@Model.UserId" class="logo-head">Usta Yardım</a>
      </div>
        
        
        <input type="checkbox"  id="check">

        <label for="check" class="icons">
            <i class='bx bx-menu' id="menu-icon"></i>
            <i class='bx bx-x' id="close-icon"></i>
        </label>
        <nav class="navbar-h">
          <a class="nav-link" asp-controller="MusteriPage" asp-action="musteriPage" asp-route-id="@Model.UserId" style="--i:0;">Anasayfa</a>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Kategoriler
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Çilingir</a></li>
              <li><a class="dropdown-item" href="#">Boya ve Badana</a></li>
              <li><a class="dropdown-item" href="#">Su Tesisatı</a></li>
              <li><a class="dropdown-item" href="#">Elektrik ve Elektronik</a></li>
              <li><a class="dropdown-item" href="#">Mobilya ve Marangoz</a></li>
              <li><a class="dropdown-item" href="#">Isıtma, Soğutma ve Havalandırma</a></li>
              <li><a class="dropdown-item" href="#">Yetkili Servisler</a></li>
            </ul>
          </div>
              <a class="nav-link" href="#nasil-calisir" style="--i:2;">Nasıl Çalışır?</a>
              <a class="nav-link" href="#usta-rehberi" style="--i:3;">Usta Rehberi</a>
              <!-- <a class="nav-link" asp-controller="Auth" asp-action="Usta" style="--i:4;"><button class="btn">Usta Girişi</button></a>
              <a class="nav-link" asp-controller="Auth" asp-action="Musteri" style="--i:5;"><button class="btn">Müşteri Girişi</button></a> -->
              <img src="@Model.ProfilImgPath" alt="" class="user-pic" id="user-pic" onclick="toggleMenu()">
              <h2 onclick="toggleMenu()">@Model.User.FullName</h2>
              <div class="sub-menu-wrap" id="sub-menu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="@Model.ProfilImgPath" alt="" id="user-img">
                        <h3>@Model.User.FullName</h3>
                    </div>
                    <hr>

                    <a asp-controller="Account" asp-action="AccountMusteri" class="sub-menu-link">
                        <img src="/images/profile.png">
                        <p>Profili Düzenle</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="/images/bookmark.png">
                        <p>Favori Ustalar</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="/images/help.png">
                        <p>Yardım ve Destek</p>
                        <span>></span>
                    </a>
                    <a asp-controller="Home" asp-action="Index" class="sub-menu-link">
                        <img src="/images/logout.png">
                        <p>Çıkış Yap</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Hesap Ayarları
        </h4>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-general">Genel</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-change-password">Şifre Değişikliği</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-info">Kişisel Bilgiler</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                    <form asp-controller="Account" asp-action="MusteriUpdate" asp-route-id="@Model.UserId" id="form" name="general" method="post" enctype="multipart/form-data">
                        <div class="tab-pane fade active" id="account-general">
                            <div class="card-body media align-items-center">
                                <img src="@Model.ProfilImgPath" class="d-block ui-w-80" id="imageAvatar"> <!-- kullanıcın profil resmini çek -->

                                <div class="media-body ml-4">
                                    <label class="btn btn-outline-primary">
                                        Yeni fotoğraf yükle
                                        <input asp-for="@Model.ProfilImgBase64" type="file" class="account-settings-fileinput" accept="image/*" onchange="previewImageAvatar(this, 'imageAvatar')" >
                                        <input type="hidden" asp-for="@Model.ProfilImgPath" value="@Model.ProfilImgPath"/>
                                    </label> &nbsp;
                                    
                                </div>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body">
                                 <input type="hidden" asp-for="UserId" value="@Model.UserId"/>
                                 <input type="hidden" asp-for="@Model.User.UserId" value="@Model.User.UserId"/>
                                 <input type="hidden" asp-for="@Model.User.UserType" value="@Model.User.UserType"/>
                                <div class="form-group">
                                    <label asp-for="@Model.User.FullName" class="form-label">İsim Soyisim</label>
                                    <input asp-for="@Model.User.FullName" type="text" class="form-control mb-1" value="@Model.User.FullName">
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.User.PhoneNumber" class="form-label">Telefon</label>
                                    <input asp-for="@Model.User.PhoneNumber" type="text" class="form-control" value="@Model.User.PhoneNumber">
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.User.Email" class="form-label">E-mail</label>
                                    <input asp-for="@Model.User.Email" type="text" class="form-control mb-1" value="@Model.User.Email" disabled>
                                    <input asp-for="@Model.User.Email" type="hidden" id="email" class="form-control mb-1" value="@Model.User.Email">
                                </div>
                            </div>
                        </div> 
                        <div class="tab-pane fade" id="account-change-password" style="display: none;">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Mevcut Şifre</label>
                                    <input type="password" asp-for="@Model.OldPassword" class="form-control">
                                    <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Yeni Şifre</label>
                                    <input type="password" asp-for="@Model.NewPassword" class="form-control">
                                    <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Yeni şifreyi tekrar girin</label>
                                    <input type="password" asp-for="@Model.ConfirmNewPassword" class="form-control">
                                    <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-info" style="display: none;">
                            <hr class="border-light m-0">
                            <div class="card-body pb-2">
                                <h6 class="mb-4">Konum Bilgileri</h6>
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.Il.IlId">İl</label>
                                    <select class="form-select" asp-for="@Model.Il.IlId" id="il" onchange="getIlceler(this)" asp-items="ViewBag.IlListesi">
                                        <option value="" selected>Lütfen İlinizi Seçiniz</option>
                                        <!-- Diğer şehirlerin listesi -->
                                    </select>
                                    <input type="hidden" asp-for="@Model.Il.IlAdi" id="ilAdiHiddenInput"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.Ilce.IlceId">İlçe</label>
                                    <select class="form-select" asp-for="@Model.Ilce.IlceId" id="ilce" onchange="getMahalleler(this)" asp-items="ViewBag.IlceListesi">
                                        <option value="" selected>Lütfen İlçenizi Seçiniz</option>
                                        <!-- İlçeler burada JavaScript kullanılarak doldurulacak -->
                                    </select>
                                    <input type="hidden" asp-for="@Model.Ilce.IlceAdi" id="ilceAdiHiddenInput"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" asp-for="@Model.Mahalle.MahalleId">Mahalle</label>
                                    <select class="form-select" asp-for="@Model.Mahalle.MahalleId" id="mahalle" onchange="updateMahalleAdi(this)" asp-items="ViewBag.MahalleListesi">
                                        <option value="" selected>Lütfen Mahallenizi Seçiniz</option>
                                        <!-- Mahalleler burada JavaScript kullanılarak doldurulacak -->
                                    </select>
                                    <input type="hidden" asp-for="@Model.Mahalle.MahalleAdi" id="MahalleAdiHiddenInput"/>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="@Model.ActiveTabPane" id="activeTabInput"/>
                         <div class="text-right mt-3">
                            <button type="submit" class="btn btn-primary">Güncelle</button>&nbsp;&nbsp;
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div aria-live="polite" aria-atomic="true" class="bg-body-secondary text-bg-primary position-fixed bottom-0 end-0 p-3">
            <div class="toast-container">
                <div class="toast error" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
                  <div class="toast-header error">
                  <strong class="me-auto">Server error</strong>
                  <small>Now</small>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                  <div class="toast-body error">
                   Sunucu kaynaklı bir sorun var Güncelleme Yapılamadı.
                  </div>
                </div>
            </div>
        </div>
        <div aria-live="polite" aria-atomic="true" class="bg-body-secondary text-bg-primary position-fixed bottom-0 end-0 p-3">
            <div class="toast-container">
                <div class="toast succes" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
                  <div class="toast-header succes">
                  <strong class="me-auto">Güncelleme Başaralı</strong>
                  <small>Now</small>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                  <div class="toast-body succes">
                   Yaptığınız değişiklikler başarıyla kaydedildi.
                  </div>
                </div>
            </div>
        </div>
    

     <!-- jQuery ve jQuery UI CDN -->
    

    <!-- Datepicker CSS ve JS dosyaları -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script> 
    <!-- jQuery UI Dil Dosyası -->
    <script src="/js/date-picker-tr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    
    

    <script>  //menu-cardlar için
                    // Sol menü öğelerini seçin
            const menuItems = document.querySelectorAll('.list-group-item');

            // Her bir menü öğesine tıklama olayı ekleme
            menuItems.forEach(item => {
                item.addEventListener('click', function() {
                    // Tıklanan menü öğesinin href değerini alın
                    const target = this.getAttribute('href');

                    // Tüm kartları gizleyin
                    document.querySelectorAll('.tab-pane').forEach(tab => {
                        tab.style.display = 'none';
                    });

                    // Hedef kartı gösterin
                    document.querySelector(target).style.display = 'block';
                });
            });

    </script>
    <script> // profil resmi için
        function previewImageAvatar(input, imgId) {
            const imgElement = document.getElementById(imgId);

            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imgElement.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
    }

    </script>
    <script> // Takvim için
        //$.datepicker.setDefaults($.datepicker.regional['tr']); // Türkçe dil ayarı
        // Sayfa yüklendiğinde datepicker'ı etkinleştir
        $(document).ready(function(){
            $('#birthday').datepicker({
                format: 'dd.mm.yyyy',
                minDate: new Date(1950,0, 1), //Mindate
                maxDate: '0',     //Maxdate
                showOtherMonths: true,
                selectOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                yearRange: 'c-100:c+10',
                // Tarih formatı isteğe bağlı olarak değiştirilebilir
                onSelect: function(dateText, inst) {
                    $(this).datepicker('hide');
                }
            });
        });
    </script>
    <script> // sub menu için
        let subMenu = document.getElementById("sub-menu");
        let user_pic = document.getElementById("user-pic");

        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
1
        // Klavyeden herhangi bir tuşa basılma olayını dinle
        document.addEventListener('keydown', function(event) {
        // Eğer herhangi bir tuşa basılır ve alt menü açıksa, alt menüyü kapat
        if (subMenu.classList.contains('open-menu')) {
            subMenu.classList.toggle('open-menu');
        }
        });

        // Sayfa kaydırma olayını dinle
        window.addEventListener('scroll', function() {
        // Eğer sayfa kaydırılır ve alt menü açıksa, alt menüyü kapat
        if (subMenu.classList.contains('open-menu')) {
            subMenu.classList.toggle('open-menu');
        }
        });
    </script>

    <script> // Galeri için
        function previewImage(input, imgId, iconId) {
        const imgElement = document.getElementById(imgId);
        const undoIcon = document.getElementById(iconId);

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                imgElement.src = e.target.result;
                undoIcon.style.display = 'table';
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

        function resetImage(inpudId, imgId, iconId) {
            const inputElement = document.getElementById(inpudId);
            const undoIcon = document.getElementById(iconId);
            const imgElement = document.getElementById(imgId);

            inputElement.value = ''; // Değer sıfırlama

            const defaultImageURL = '/images/image-add1-240.png'; // Varsayılan resmin URL'si
            
            imgElement.src = defaultImageURL;
            undoIcon.style.display = 'none';
        }
    </script>

    <script> //ilçeler için get
        function getIlceler(select) {
            ilId = select.value;
            fetch(`http://localhost:5120/api/Adress/Ilceler/${ilId}`)
                .then(response => response.json())
                .then(data => {
                    // Gelen ilçeleri dropdown içerisine ekle
                    const ilceDropdown = document.getElementById("ilce");
                    ilceDropdown.innerHTML = '<option value="" selected>Lütfen İlçenizi Seçiniz</option>';
                    const mahalleDropdown = document.getElementById("mahalle");
                    mahalleDropdown.innerHTML = '<option value="" selected>Lütfen Mahallenizi Seçiniz</option>';
                    data.forEach(ilce => {
                        ilceDropdown.innerHTML += `<option value="${ilce.ilceId}">${ilce.ilceAdi}</option>`;
                    });
                });

                var selectedText = select.options[select.selectedIndex].text;
                document.getElementById("ilAdiHiddenInput").value = selectedText;
        }

    </script>
    <script> // mahalleler için get
        function getMahalleler(select) {
            var ilceId = select.value;
            fetch(`http://localhost:5120/api/Adress/Mahalleler/${ilceId}`)
                .then(response => response.json())
                .then(data => {
                    // Gelen mahalleleri dropdown içerisine ekle
                    const mahalleDropdown = document.getElementById("mahalle");
                    mahalleDropdown.innerHTML = '<option value="" selected>Lütfen Mahallenizi Seçiniz</option>';
                    data.forEach(mahalle => {
                        mahalleDropdown.innerHTML += `<option value="${mahalle.mahalleId}">${mahalle.mahalleAdi}</option>`;
                    });
                });

            var selectedText = select.options[select.selectedIndex].text;
            document.getElementById("ilceAdiHiddenInput").value = selectedText;
        }
    </script>

    <script> // mahalle adi için input
        function updateMahalleAdi(select) {
            var selectedText = select.options[select.selectedIndex].text;
            document.getElementById("MahalleAdiHiddenInput").value = selectedText;
        }
    </script>

    <script> // active tab pane gönderme ve response göre gösterme
        $('.list-group-item').on('click', function() {
            var clickedTab = $(this).attr('href');
             // Burada tıklanan tab'ın href değerini alıyoruz
            $('#activeTabInput').val(clickedTab);
        });

        $(document).ready(function() {
            var activePane = "@Model.ActiveTabPane"; // Sunucudan gelen ActiveTabPane değeri

            // Aktif pane değerine göre ilgili bağlantıyı aktif hale getir
            $('a[data-toggle="list"]').removeClass('active');
            // Aktif pane bağlantısına tıkla
            $('a[href="' + activePane + '"]').click();

            $('.tab-pane').hide();

            $(activePane).show();
            // Aktif pane bağlantısına 'active' sınıfını ekle
            $('a[href="#' + activePane + '"]').addClass('active');
        });
    </script>

    <script>
        // Sayfa yüklendiğinde kontrolü yap
        $(document).ready(function() {

            var defaultImagePath = 'https://bootdey.com/img/Content/avatar/avatar1.png'; // Varsayılan profil resmi yolu
            var defaultReferansImagePath = '/images/image-add1-240.png'; // Varsayılan referans resmi yolu
            
            var modelImagePath = "@Model.ProfilImgPath";  // Modelden gelen profil resminin yolu veya varsayılan yolu
            var modelReferansImagePath = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.ReferansImgPath)); // Modelden gelen profil resminin yolu veya varsayılan yolu


                    // Profil resmi kontrolü
            if (!modelImagePath) {
                $('#imageAvatar, #user-pic, #user-img').attr('src', defaultImagePath);
            } else {
                $('#imageAvatar, #user-pic, #user-img').attr('src', modelImagePath);
            }


            if(modelReferansImagePath){
                var index = 0
                modelReferansImagePath.forEach(function (i) {
                $('#undoIcon' + index.toString()).css('display', 'table');
               
                index++;
                });
            }
        });

    </script>

    <script>
        var isError = "@Model.error".toLowerCase(); // Burada gerçek bir kontrol yapmalısınız
        var isSucces = "@Model.succes".toLowerCase(); // Burada gerçek bir kontrol yapmalısınız

        // Toast elementini seç
        var toast_error = document.querySelector('.toast.error');
        var toast_succes = document.querySelector('.toast.succes');
        
        console.log(isError);
        // Hata durumunda .show sınıfını ekleyerek toast'ı görünür hale getir
        if (isError == "true") {
        toast_error.classList.add('show');
        setTimeout(function () {
        toast_error.classList.remove('show');
            }, 5000);
        }
        if (isSucces == "true") {
        toast_succes.classList.add('show');
        setTimeout(function () {
        toast_succes.classList.remove('show');
            }, 5000);
        }
        
    </script>
</body>

</html>